/* GENERAL */

@font-face {
	font-family: 'Raleway-Bold';
	src: local('Raleway'), url(../fonts/Raleway/static/Raleway-Bold.ttf) format('truetype');
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased !important;
}

@font-face {
	font-family: 'Raleway-Semi-Bold';
	src: local('Raleway'), url(../fonts/Raleway/static/Raleway-SemiBold.ttf) format('truetype');
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased !important;
}

@font-face {
	font-family: 'Raleway-Regular';
	src: local('Raleway'), url(../fonts/Raleway/static/Raleway-Regular.ttf) format('truetype');
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased !important;
}

@font-face {
	font-family: 'Raleway-Medium';
	src: local('Raleway'), url(../fonts/Raleway/static/Raleway-Medium.ttf) format('truetype');
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased !important;
}

@font-face {
	font-family: 'Raleway-Black';
	src: local('Raleway'), url(../fonts/Raleway/static/Raleway-Black.ttf) format('truetype');
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased !important;
}

* {
	-webkit-font-smoothing: antialiased !important;
}

html, body, #root {
	height: 100%;
	width: 100%;
	margin: 0 !important;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.full-container {
	width: 100%;
	height: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-start {
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-end {
	justify-content: flex-end;
	align-items: flex-end;
}
.text-input {
	border: none;
	border-bottom: 1px solid #C2C2C2;
	height: 52px;
	width: 453px;
}

input:focus {
	outline: none;
}

.row-dashboard {
	height: 50px;
	width: 690px;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	align-items: center;
}

.card {
	background-color: #FFFFFF;
}

.action-icon:hover {
	cursor: pointer;
}

.MuiInput-underline:before {
	border: none !important;
}

.MuiInput-underline:after {
	border: none !important;
}

.MuiSelect-icon {
	color: #C2C2C2 !important;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #C2C2C2;
	opacity: 1;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #C2C2C2;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #C2C2C2;
}

/* AUTH */

.auth-card {
	width: 690px;
	height: 430px;
}

.auth-label {
	width: 270px;
	font-weight: 500;
	margin: 0 0 5px 0;
}

/* PAYMENTS */

.billing-card {
	width: 690px;
	min-height: 400px;
	padding: 10px 0 20px 0;
}

.choose-plan-card {
	padding: 20px;
	margin: 20px;
	width: 350px;
	height: 350px;
}

.choose-plan {
	display: flex;
	justify-content: center;
	align-items: space-between;
}

.payments-plans {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.choose-plan-card:hover {
	cursor: pointer;
}

textarea {
	outline: none;
	resize: none;
	overflow: auto;
}

input[type="password"] {
	padding: 0 !important;
	-webkit-appearance : none !important;
}

input:matches([type="password"], [type="search"]) {
	-webkit-appearance : none !important;
	background-color: #FFFFFF;
}

input {
	border-radius: 0;
}

@media only screen and (max-width: 640px) {

	.billing-card {
		width: 100%;
		height: 400px;
		overflow-y: auto;
	}

	.auth-card {
		width: 98%;
		margin: 0 1%;
	}

	.text-input {
		height: 52px;
		width: 95%;
		margin: 0 2.5%;
		-webkit-appearance : none !important;
	}
	.choose-plan {
		overflow-y: auto;
		height: 100%;
		width: 100%;
		justify-content: flex-sta;
		align-items: center;
	}
	.choose-plan-card {
		width: 86%;
		height: 350px;
		margin: 10px 0;
	}
	.payments-plans {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.row-dashboard {
		min-height: 5px;
		width: 100%;
	}
	.drawer-title {
		margin: 15px 0 0 0;
	}
}

#payment-form {
	justify-content: space-evenly;
	align-items: center;
	height: 320px;
}

#card-number {
	width: 100%;
}
