.whiteBackground {
	background-color: #fff;
}

.blackBackground {
	background-color: #000;
}

.darkGreyBackground {
	background-color: #1D1D1D;
}

.greyBackground {
	background-color: #303030;
}

.citrusWhite {
	color: #fff;
}

.citrusBlack {
	color: #000;
}

.citrusBlue {
	color: #0075FF;
}

.citrusGrey{
	color: #C2C2C2;
}

.citrusOffWhite {
	color: #F8F8F8;
}

.citrusRed {
	color: #FF5232;
}

.light-grey {
	color :#EFEFEF;
}

.grey {
	color: #BEBEBE;
}

.dark-grey {
	color: #585858;
}

.fired-red {
	color: #cf352e;
}

.red {
	color: #ff0000;
}


.green {
	color: green;
}