.maxi-title {
	font-family: Raleway-Bold;
	font-style: normal;
	font-weight: 600;
	/* font-size: 40px; */
	font-size: 36px;
	line-height: 47px;
}

.big-title {
	font-family: Raleway-Bold;
	font-style: normal;
	font-weight: 600;
	/* font-size: 32px; */
	font-size: 26px;
	line-height: 47px;
}

.medium-title {
	font-family: Raleway-Bold;
	font-style: normal;
	font-weight: 600;
	/* font-size: 32px; */
	font-size: 22px;
	line-height: 47px;
}

.small-title {
	font-family: Raleway-Bold;
	font-style: normal;
	font-weight: 600 !important;
	/* font-size: 20px; */
	font-size: 16px;
	line-height: 23px;
}

.small-text {
	font-family: Raleway-Regular;
	font-style: normal;
	font-weight: 400;
	/* font-size: 16px; */
	font-size: 14px;
	line-height: 19px;
}

.smaller-text {
	font-family: Raleway-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 19px;
}

.small-text-high {
	font-family: Raleway-Regular;
	font-style: normal;
	font-weight: 400;
	/* font-size: 16px; */
	font-size: 14px;
	line-height: 21px !important;
}

.small-text-bold {
	font-family: Raleway-Medium;
	font-style: normal;
	font-weight: 600;
	/* font-size: 18px !important; */
	font-size: 14px !important;
	line-height: 19px;
}

.smaller-text-bold {
	font-family: Raleway-Medium;
	font-style: normal;
	font-weight: 600;
	/* font-size: 16px !important; */
	font-size: 12px !important;
	line-height: 19px;
}

.extra-small-text-bold {
	font-family: Raleway-Medium;
	font-style: normal;
	font-weight: 600;
	/* font-size: 16px !important; */
	font-size: 11px !important;
	line-height: 19px;
}

.simple-link {
	font-family: Raleway-Medium;
	font-style: normal;
	font-weight: 600;
	/* font-size: 16px; */
	font-size: 12px;
	line-height: 19px;
	color: #0075FF;
}

.simple-link:hover {
	cursor: pointer;
}

.hover:hover {
	cursor: pointer;
}

.big-number {
	font-family: Raleway-Bold;
	/* font-size: 32px; */
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	/* line-height: 39; */
	letter-spacing: -0.24;
	color: #000000;
}
